* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Yantramanav';
}
body {
font-family: 'Roboto', sans-serif;
}
html, body {
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    color: #212121;
    margin: 0;
    font-weight: 600;
    line-height: 1.2;
}
h1 {
    font-size: 40px
}
h2 {
    font-size: 35px
}
h3 {
    font-size: 28px
}
h4 {
    font-size: 22px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
p {
    margin: 0
}
/* header section css start */

/* TOP BAR */
.navbar.fixed-top {
    background: #fff !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
    animation: slide-down .7s;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
@keyframes slide-down{
0% {
    transform: translateY(-100%);
}

100% {
    transform: translateY(0);
}
}

.topbar {
  position: relative;
}
.topbar-inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: -1px;
    width: 63%;
    background: #d70006;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    z-index: -1;
}
.topbar-inner {
    background: #000000;
    padding: 8px 0 8px;
    position: relative;
    z-index: 1;
}

.topbar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 8%;
  height: 100%;
  background: #000;
}

/* HEADER */
.header-actions{
  margin-left: 40px;
}
.header-actions .dropdown-toggle i{
  color: #212121;
}
.header-actions .theme-btn {
    padding: 9px 20px !important;
}
.header-actions .dropdown-menu li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid #D3D3D3;
}
.header-actions .dropdown-item i{
  margin-right: 9px;
}
.header-actions .dropdown-item{
 padding: 10px 20px;
}
.header-actions .btn-book{
  border: 1px solid #212121 !important;
  border-radius: 8px !important;
}
.header-actions .dropdown-toggle::after{
display: none !important;
}
.header-actions .dropdown-menu-end[data-bs-popper] {
    left: 0 !important;
    right: auto !important;
}
.header-actions .dropdown-toggle img{
      width: 30px;
    height: 30px;
}
.main-header {
  background: #fff;
  padding: 12px 0;
}

/* LOGO */
.navbar-brand img {
  height: auto;
  width: 200px;
  margin-right: 10px;
}

.logo-text {
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.logo-text span {
  color: #d60000;
}

/* MENU */
.nav-link {
  font-weight: 700;
  color: #000 !important;
  margin-left: 25px;
}

.nav-link.active {
  color: #d60000 !important;
}

/* TOGGLER */
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(0);
}

/* BOTTOM BORDER */
.header-border {
  height: 3px;
  background: #000;
}
.navbar-toggler-mobile-icon {
    display: inline-block;
}
.header-top-contact ul {
    display: flex;
    align-items: center;
    gap: 25px;
}
.header-top-contact a {
    color:#fff;
}
/* MOBILE */
@media (max-width: 991px) {
        .navbar .nav-item .nav-link {
        margin-right: 15px;
    }
        .navbar-toggler {
        padding: 0;
        border: none;
    }
    .mobile-menu-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .navbar-toggler-mobile-icon {
        font-size: 18px;
        font-weight: 500;
        background-color: #d70006;
        color: #fff;
        padding: 10px;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        line-height: 24px;
    }
    .navbar-brand img {
        width: 130px;
    }
    .topbar{
        display: none;
    }
  .nav-link {
    margin-left: 0;
    padding: 10px 0;
  }

  .logo-text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .header-actions .theme-btn {
      padding: 9px 11px !important;
  }
  .header-actions {
      margin-left: 0;
      margin-top: 10px;
  }
  .theme-btn {
    font-size: 12px !important;
    padding: 14px 10px !important;
  }
}
/* header section css end */

/* home hero section css start */
.hero-section {
    position: relative;
}
.hero-shape-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 40px;
    background: #d70006;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    z-index: 3;
}
.hero-shape-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    height: 60px;
    background: #d70006;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    opacity: .5;
    z-index: 3;
}
.hero-shape-3 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 60px;
    background: #d70006;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    z-index: 3;
}
.hero-shape-4 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35%;
    height: 80px;
    background: #d70006;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    opacity: .5;
    z-index: 3;
}
.hero-shape-5 {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 40px;
    background: #d70006;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 3;
}
.hero-shape-6 {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: 60px;
    background: #d70006;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    opacity: .5;
    z-index: 3;
}
/* owl */
.hero-single {
    padding-top: 150px;
    padding-bottom: 250px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.hero-single::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -.5px;
    top: 0;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, .85) 20%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
}
.hero-single .hero-content {
    height: 100%;
}
.hero-single .hero-content .hero-sub-title {
    display: inline-block;
    color: #f19920;
    font-size: 25px;
    letter-spacing: 6px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    border-bottom: 3px solid #ffffff;
}
.hero-single .hero-content .hero-title {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin: 20px 0;
    text-transform: capitalize;
}
.hero-single .hero-content .hero-title {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin: 20px 0;
    text-transform: capitalize;
}.hero-single .hero-content .hero-btn {
    gap: 1rem;
    display: flex;
    margin-top: 35px;
    justify-content: start;
}
.theme-btn {
    font-size: 14px;
    color: #fff;
    padding: 14px 20px;
    transition: all .5s;
    text-transform: uppercase;
    position: relative;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    border: none;
    background: #d70006;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    z-index: 1;
    display: inline-block;
}
.theme-btn::before {
    position: absolute;
    content: '';
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleY(0);
    transition: all .5s ease-in-out;
    z-index: -1;
}
.theme-btn i {
    margin-left: 5px;
}
.theme-btn2 {
    background: #fff;
    color: #000;
}
.theme-btn2::before {
    background: #d70006;
}
.theme-btn:hover {
    color: #fff;
}
.theme-btn2:hover {
    color: #fff;
}
.theme-btn:hover:before {
    transform: scaleY(1);
    transition: all .5s ease-in-out;
}
.hero-slider.owl-theme .owl-nav .owl-prev, .hero-slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.hero-slider.owl-theme .owl-nav .owl-prev {
    left: 40px;
}
.hero-single .hero-content .hero-title span {
    color: #f19920;
}
.hero-single .hero-content p {
    color: #fff;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}
.hero-slider.owl-theme .owl-nav .owl-prev, .hero-slider.owl-theme .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.hero-slider.owl-theme .owl-nav .owl-prev {
    left: 40px;
}
.hero-slider.owl-theme .owl-nav .owl-next {
    right: 40px;
}
.hero-slider.owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: #fff3;
    display: inline-block;
    cursor: pointer;
    height: 55px;
    width: 55px;
    line-height: 55px;
    border-radius: 50px;
    text-align: center;
    transition: all .5s ease-in-out;

}
@media (max-width: 767px) {
    .hero-single .hero-content .hero-sub-title {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    .hero-single .hero-content .hero-title {
        font-size: 50px;
    }
}

@media (max-width: 1199px) {
    .hero-single .hero-content .hero-title {
        font-size: 37px;
    }
    .hero-slider.owl-theme .owl-nav .owl-prev, 
    .hero-slider.owl-theme .owl-nav .owl-next {
        top: unset;
        bottom: 80px !important;
    }
    .hero-slider.owl-theme .owl-nav .owl-prev {
        left: unset;
        right: 120px;
    }
       
}

/* home hero section css end */

/* Feature section Css Start */
#Feature {
    margin-top: -81px;
    z-index: 9;
}
.feature-area {
    position: relative;
    z-index: 1;
}
.feature-item {
    padding: 28px;
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    transition: all .5s ease-in-out;
    z-index: 1;
    margin-top: -80px;
}
.feature-item::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 20px;
    right: 20px;
    bottom: 0;
    background: #d70006;
}
.feature-item .count {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 50px;
    font-weight: 800;
    -webkit-text-stroke: 2px #d70006;
    -webkit-text-fill-color: transparent;
}
.feature-icon {
    width: 100px;
    height: 100px;
    line-height: 95px;
    border-radius: 50%;
    text-align: center;
    color: var(--color-white);
    font-size: 60px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 0 #F9FBFE;
    position: relative;
    transition: all .5s ease-in-out;
}
.feature-item h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #212121;
}
.feature-item:hover {
    transform: translateY(-10px);
}
.feature-item:hover .feature-icon {
    transform: rotateY(360deg);
}

.feature-wrapper .row{
    row-gap: 30px;
}
@media (max-width: 767px) {
  .feature-item{
    margin-top: 0 !important;
  }
    #Feature {
    margin-top: 50px;
    z-index: 9;
   }
}
/* Feature section Css End */


/* About us section css start */
.py-120 {
    padding: 120px 0;
}
.about-left::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: -25px;
    width: 140px;
    height: 140px;
    border-radius: 0 100% 0 20px;
    background: #d70006;
    z-index: 1;
}
.about-left {
    position: relative;
    z-index: 1;
}
.about-left::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -20px;
    width: 250px;
    height: 80%;
    border-radius: 15px;
    border: 5px solid #d70006;
    transform: translateY(-50%);
    z-index: -1;
}
.about-left img {
    width: 100%;
    border-radius: 10px;
}
.about-experience {
    position: absolute;
    top: 80px;
    left: -30px;
    text-align: center;
    background: #d70006;
    padding: 15px 20px 15px 15px;
    border-radius: 20px;
    color: #fff;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 10%);
}
.about-experience-icon {
    color: #d70006;
    font-size: 65px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    margin: auto;
    background: #fff;
    border-radius: 50px;
    margin-bottom: 5px;
}
.about-right {
    position: relative;
    display: block;
    padding-left: 30px;
}
.site-heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.site-title-tagline {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #d70006;
    position: relative;
    border-bottom: 2px solid #d70006;
}
.site-title {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 55px;
    color: #212121;
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
    line-height: 1;
}
.site-title span {
    color:#d70006;
}
@media (max-width: 991px) {
    .about-right {
        margin-top: 70px;
        padding-left: 0;
    }
}
@media (max-width: 590px) {
    .about-experience {
        top: -46px;
        left: -10px;
    }
    .site-title {
        font-size: 35px !important;
        line-height: 42px !important;
    }
}
/* About us section css end */

/* Service section start */
.bg-services-new {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgb(215 0 6 / 80%)), url(/assets/images/slider-1.jpg);
}

.feature-area {
    position: relative;
    z-index: 1;
}
.service-item {
    position: relative;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    z-index: 1;
}
.service-img {
    position: relative;
    z-index: 1;
}
.service-img img {
    border-radius: 10px;
    max-width: 118px;
}
.service-content {
    position: relative;
    padding: 0px 10px 21px 0px;
}
h3.service-title {
    font-size: 22px;
}
p.service-text {
    margin-top: 11px;
}
.service-item:hover {
    transform: translateY(-10px);
}
@media (max-width: 1200px) {
    .service-item {
        height: 100%;
    }
}
/* sevice section end */


/* CTA section css start */
.cta-area {
    position: relative;
}
.cta-wrapper {
    background:#d70006;
    position: relative;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}
.cta-wrapper::before {
    content: "";
    position: absolute;
    background-image: url(/assets/images/04.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .1;
    z-index: -1;
}
.cta-content {
    text-align: center;
    padding: 15px;
}
.cta-content h1 {
    color:#fff;
    font-size: 53px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.cta-content p {
    color:#fff;
}
.cta-btn {
    margin-top: 20px;
}
.cta-btn .theme-btn {
    background: #fff;
    color: #212121;
}
.cta-btn .theme-btn:hover {
    color: #fff;
}
@media (max-width: 475px) {
    .cta-content {
        padding: 0;
    }
    .cta-content h1 {
        font-size: 35px;
    }
}
/* CTA section css end */

/* why choose section start */
.service-area2{
    padding: 120px 0;
    background: #F9FBFE;
}
.service-area2 .service-item {
    text-align: center;
    margin-top: 35px;
}
.service-item {
    position: relative;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    z-index: 1;
}
.service-item:hover {
    transform: translateY(-10px);
}
.service-area2 .service-icon {
    bottom: unset;
    top: -40px;
    width: 100px;
    height: 100px;
    line-height: 93px;
    font-size: 55px;
    border-radius: 50%;
}
.service-icon {
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 78px;
    background: #d70006;
    border-radius: 50px;
    font-size: 50px;
    color: #fff;
    text-align: center;
    border: 4px solid #fff;
    left: 50%;
    bottom: -40px;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    transform: translateX(-50%);
    z-index: 1;
}
.new-content {
    margin-top: 82px;
}
.service-content {
    position: relative;
    padding: 0px 10px 21px 0px;
}
h3.service-title {
    font-size: 22px;
}
.new-content p {
    margin-top: 14px;
}
@media (max-width: 1199px) {
    .service-area2 .row{
        row-gap: 60px;
    }
}
/* why choose section end */

/* process-area section start */
.process-area{
    padding: 120px 0;
}
.site-title-tagline {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    font-weight: 700;
    color: #d70006;
    position: relative;
    border-bottom: 2px solid #d70006;
}
.site-title-tagline i {
    line-height: 0;
    font-size: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.process-single {
    position: relative;
}
.process-single::before {
    content: url(../images/arrow-shape.png);
    position: absolute;
    right: -72px;
    top: 34px;
}
.process-single.last-child::before {
    content: none;
}
.process-single .icon {
    height: 140px;
    width: 140px;
    display: inline-block;
    position: relative;
    line-height: 135px;
    background: #fff;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
    border-radius: 50%;
    margin-bottom: 30px;
    font-size: 75px;
    color: #d70006;
}
.process-single span {
    position: absolute;
    height: 40px;
    width: 40px;
    font-size: 14px;
    background: #d70006;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    left: -3px;
    top: -5px;
    font-weight: 600;
}
.process-single h4 {
    margin-bottom: 10px;
}
/* process-area section end */

/* Recover  All Vehicle Types section  start */
.cta-wrapper {
    background: #d70006;
    position: relative;
    padding: 40px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}
.cta-wrapper::before {
    content: "";
    position: absolute;
    background-image: url(../images/shape.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .1;
    z-index: -1;
}
.about-list {
    position: relative;
    display: block;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.about-list li {
    position: relative;
    margin-top: 10px;
    font-weight: 500;
}
.about-list li i{
    padding-right:10px;
}
.border-new {
    border-radius: 10px;
    border: 2px solid #fff;
}
.cta-wrapper img {
    max-width: 100%;
    transition: all .3s ease-out 0s;
    height: auto;
}
@keyframes fadeInUpSmall {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-up-20 {
    animation: fadeInUpSmall 0.8s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
@keyframes fadeInDownSmall {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-down-20 {
    animation: fadeInDownSmall 0.8s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
/* Recover  All Vehicle Types section  start */

/* testimonial section  start */
.testimonial-section {
    padding-top: 82px;
    padding-bottom: 72px;
}
.site-heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.site-title {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 55px;
    color: #212121;
    margin-top: 10px;
    margin-bottom: 0;
    position: relative;
}
.site-title span {
    color: #d70006;
}
.testimonial-wrapper{
    padding-top: 60px;
    overflow: hidden;
}
.owl-carousel .owl-stage-outer {
    overflow: visible !important;
}
.testimonial-items {
    border-radius: 40px;
    padding:30px 23px;
    text-align: center;
    align-items: center;
    background-color: #d70006;
}
.testimonial-img {
    position: relative;
    width: 100px;
    height: 100px;
    height: 70px;
    margin: 0px auto;
}
.testimonial-img.tm-img-2::before {
    background-image: url('../images/testimonial-user.png');
}
.testimonial-img::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.testimonial-items .testimonial-text {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    max-width: 330px;
    margin-bottom: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    color: #fff;
}
.testimonial-items .testimonial-title {
    color: #fff;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 35px;
}
.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px !important;
}
/* Default dot */
.owl-dot span{
    background: #cccccc !important;
    border-radius: 50%;
    margin: 0 6px;
    transition: all 0.3s ease;
    width: 9px !important;
    height: 9px !important;
    margin: 5px 4px !important;
}
/* Active dot */
.owl-dot.active span{
    background: #007aff !important; /* blue active dot */
}
/* testimonial section  end */

/* footer css start */

.footer-area {
    background: #000000;
    position: relative;
    z-index: 1;
}
.footer-widget {
    position: relative;
    z-index: 1;
}
.footer-widget-wrapper{
    padding-top:100px;
    padding-bottom: 70px;
}
.footer-widget-box {
    margin-bottom: 20px;
}
.footer-widget-title {
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 21px;
    z-index: 1;
}
.footer-widget-title::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 90px;
    height: 3px;
    border-radius: 50px;
    background: rgba(255, 255, 255, .2);
    bottom: 0;
    left: 0;
}
.footer-widget-title::after {
    position: absolute;
    content: '';
    z-index: -1;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background: #d70006;
    bottom: 0;
    left: 18px;
}
.footer-widget-box p {
    color: #fff;
    padding-right: 18px;
}
.list .footer-list {
    display: flex;
    flex-direction: column;
    gap: .65rem;
    margin: 0;
    padding: 0;
}
.footer-list li a {
    color: #fff;
    transition: all .5s ease-in-out;
}
.footer-list li a:hover {
    color: #d70006;
    padding-left: 10px;
}
.footer-list li a i {
    margin-right: 5px;
    color: #d70006;
}
.footer-contact{
    margin: 0;
    padding: 0;
}
.footer-contact li {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #F5FAFF;
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-contact li i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-right: 15px;
    border-radius: 5px;
    background: #d70006;
    text-align: center;
    color: #fff;
}
.footer-contact li a {
    color: #F5FAFF;
}
/* copyright */

.copyright {
    position: relative;
    padding: 20px 0;
    background: #000000;
    border-bottom: 4px solid #d70006;
    z-index: 1;
}
.copyright::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #d70006;
    width: 10%;
    height: 50%;
    border-radius: 0 80px 0 0;
    z-index: -1;
}
.copyright::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: #d70006;
    width: 10%;
    height: 50%;
    border-radius: 80px 0 0 0;
    z-index: -1;
}
.copyright .copyright-text {
    color: #F5FAFF;
    margin-bottom: 0;
    font-size: 16px;
}
.text-center {
    text-align: center !important;
}
/* footer section end */

/* media responsive start */
@media(min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px
    }
}
@media(max-width: 991px){
    .process-single::before {
        content: none;
    }
}
@media(max-width: 767px){
    .copyright::before, .copyright::after{
        content: "";
        width:0;
    }
    .cta-wrapper .site-heading {
        margin-bottom: 10px;
    }
    .process-area {
        padding: 70px 0;
    }
}

/* floating-social start  */
.floating-social {
    position: fixed;
    bottom: 30px;
    left: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 500;
}
.floating-social a:nth-child(1) {
    background-color: #2ea62f;
}
.floating-social a:nth-child(2) {
    background-color: #25D366;
}
.floating-social a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    font-size: 32px;
}
/* floating-social start  */

/* scroll top css start */
#scroll-top {
    position: fixed;
    bottom: -20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #fff;
    background-color: #d70006;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
    transition: all .5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1
}
#scroll-top.active {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
}
@media all and (min-width: 768px) and (max-width:1199px) {
    #scroll-top.active {
        bottom: 100px
    }
}

/* contact page css */

/* site-breadcrumb section start */
.site-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    padding-top: 170px;
    padding-bottom: 150px;
    z-index: 1;
}
.site-breadcrumb::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: .7;
    z-index: -1;
}
.site-breadcrumb .breadcrumb-title {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.site-breadcrumb .breadcrumb-menu {
    position: relative;
    z-index: 1;
}
.site-breadcrumb .breadcrumb-menu li:first-child {
    margin-left: 0;
}
.site-breadcrumb .breadcrumb-menu li::before {
    position: absolute;
    right: -21px;
    top: 1px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.site-breadcrumb .breadcrumb-menu li {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
.site-breadcrumb .breadcrumb-menu li a {
    color: #fff;
    transition: all .5s ease-in-out;
}
.site-breadcrumb .breadcrumb-menu li a:hover {
    color: #d70006;
}
.site-breadcrumb .breadcrumb-menu li.active {
    color:#d70006;
}
/* site-breadcrumb section end */

/* contact page css */

/* site-breadcrumb section start */
.site-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    padding-top: 170px;
    padding-bottom: 150px;
    z-index: 1;
}
.site-breadcrumb::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: .7;
    z-index: -1;
}
.site-breadcrumb .breadcrumb-title {
    font-size: 45px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.site-breadcrumb .breadcrumb-menu {
    position: relative;
    z-index: 1;
}
.site-breadcrumb .breadcrumb-menu li:first-child {
    margin-left: 0;
}
.site-breadcrumb .breadcrumb-menu li i {
    margin: 0 5px;
}
.site-breadcrumb .breadcrumb-menu li {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}
.site-breadcrumb .breadcrumb-menu li a {
    color: #fff;
    transition: all .5s ease-in-out;
}
.site-breadcrumb .breadcrumb-menu li a:hover {
    color: #d70006;
}
.site-breadcrumb .breadcrumb-menu li.active {
    color:#d70006;
}
/* site-breadcrumb section end */

/* contect-area section start */
.contact-area {
    padding: 120px 0;
}
.contact-content {
    margin-bottom: 50px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
    padding: 30px 20px;
    position: relative;
    margin-bottom: 25px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}
.contact-info::before {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -8px;
    background: #d70006;
    border-radius: 10px;
    height: 20px;
    z-index: -1;
}
.contact-info-icon {
    font-size: 35px;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    background: #d70006;
}
.contact-info-icon::before {
    content: "";
    position: absolute;
    left: -12px;
    right: -12px;
    top: -12px;
    bottom: -12px;
    border: 3px solid #d70006;
    border-radius: 50px;
}
.contact-info h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #212121;
}
.contact-info p {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
}
.contact-wrapper {
    background: #fff;
    border-radius: 10px;
    border-right: 5px solid #d70006;
    box-shadow: 0 0 40px 5px rgb(0 0 0 / 5%);
}
.contact-form {
    padding: 25px;
}
.contact-form-header {
    margin-bottom: 30px;
}
.contact-form-header h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #212121;
}
.contact-form .form-group {
    margin-bottom: 25px;
}
.contact-form .form-group .form-control {
    border-radius: 8px;
    box-shadow: none;
    transition: all .5s ease-in-out;
}
.contact-form .form-group .form-control:focus {
    border-color: #d70006;
}
/* contect-area section end */

/* about us page start */
@keyframes fadeInLeftSmall {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in-left-20 {
    animation: fadeInLeftSmall 0.8s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
@keyframes fadeInRightSmall {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.fade-in-right-20 {
    animation: fadeInRightSmall 0.8s ease-out forwards;
    animation-delay: 0.3s;
    opacity: 0;
}
/* recovery-section section start */
.recovery-section, .core-values{
    padding-top:120px;
    padding-bottom: 80px;
}
.recovery-section .about-list li i, .core-values .about-list li i{
    color:#d70006;
}
@media(max-width: 1200px){
  .contact-info {
     height: 100%;
  }
}
@media(max-width: 767px){
  .contact-content .row{
    row-gap: 20px;
  }

  .core-values .site-heading {
      margin-bottom: 10px;
  }
  .contact-info {
     height: 100%;
  }
}

/* recovery-section section end */
/* SIGN UP PAGE START */

.signup-section{
    padding-top:70px;
    padding-bottom:95px;
}
.section-heading .section-title{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 38px;
    color: #212121;
    margin-bottom: 15px;
}
.section-title span {
    color: #d70006;
}
.section-heading p{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #7A7A7A;
}
.signup-wrapper{
    margin-top: 40px;
}
.left-container{
    justify-self: center;
}
.right-container{
    width: 100%;
}
.signup-card {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 20px 0px #D3D3D387;
}
.signup-row{
    display: flex;
    gap: 20px;
}
.form-group {
    margin-bottom: 30px;
    width: 100%;
}
label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
    color: #212121;
}
.terms{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color:#646464;
}
.input-icon {
    position: relative;
}
.input-icon i {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    color: #7A7A7A;
    font-size: 16px;
}
.input-icon input {
    width: 100%;
    padding: 13px 13px 13px 45px;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color:#7A7A7A;
}
.input-icon input:focus {
    border-color: #d70006;
}
.checkbox {
    display: flex;
    gap: 8px;
    font-size: 13px;
    margin: 15px 0;
}
.checkbox a {
    color: #d70006;
    text-decoration: none;
}
.btn-submit {
    width: 100%;
    background: #d70006;
    border: none;
    color: #fff;
    padding: 13px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.login-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    color: #646464;
}
.login-text a {
    color: #d70006;
    font-size: 16px;
    text-decoration: none;
}
@media(max-width: 991px){
  .signup-wrapper{
    margin-top: 0px;
  }
}
@media(max-width: 425px){
    .signup-row{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}
/* SIGN UP PAGE END */

.forget-pass-box a{
      color: #d70006;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}
.forget-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -36px;
}
.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}
.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #bfbfbf;
}
.or-divider::before {
  margin-right: 12px;
}
.or-divider::after {
  margin-left: 12px;
}
.or-divider span {
  font-weight: 600;
  color: #7a7a7a;
  font-size: 14px;
  white-space: nowrap;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding: 18px 16px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.25s ease;
}
.google-btn img {
  width: 20px;
  height: 20px;
}
.google-btn:hover {
  background: #f8f8f8;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* booking-section page start */
.booking-section, .route-section{
    max-width: 952px;
    margin: auto;
}
.booking-section{
    padding-top: 70px;
    padding-bottom: 50px;
}
.grid-box-section{
    margin-top: 40px;
}
.grid-info{
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 20px 0px #D3D3D387;
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
.grid-info-icon{
    margin-bottom: 25px;
}
.grid-info-content h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color:#212121;
    margin-bottom: 12px;
}
.grid-info-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:#7A7A7A
}
.route-section{
    margin-bottom:100px;
}
.route-card {
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 20px 0px #D3D3D387;
}

/* Header */
.route-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}
.route-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
/* Form */
.route-form .form-group label {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 12px;
}
.route-form .input-icon {
    position: relative;
}
.route-form .input-icon i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #7A7A7A;
}
.route-form .input-icon input {
    width: 100%;
    padding: 12px 12px 12px 36px;
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
}
.route-form .input-icon input:focus {
    outline: none;
    border-color:#D70006;
}
/* Map */
.map-box {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #eee;
}
.map-box img {
    width: 100%;
    display: block;
}
.service2-card {
    margin-top:40px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 4px 20px 0px #D3D3D387;
}
/* Header */
.service2-header {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 24px;
}
.service2-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}
/* Service Items */
.service2-item {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 20px;
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.25s ease;
}
.service2-item:last-child {
    margin-bottom: 0;
}
.service2-item:hover {
    border-color: #d70006;
}
/* Active */
.service2-item.active {
    border-color: #d70006;
}
/* Icon Box */
.service2-icon {
    width: 50px;
    height: 50px;
}
/* Content */
.service2-content h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 18px;
    font-weight: 600;
}
.service2-content p {
    margin: 6px 0 0;
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
}
.form-button{
    justify-self: center;
}
.btn-booknow {
    margin-top:60px;
    background: #d70006;
    border: none;
    color: #fff;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/* Responsive */
@media (max-width: 767px) {
  .route-form .signup-row {
      display: flex;
      flex-direction: column;
      gap: 0px;
  }
}
@media (max-width: 425px) {
    .service2-item{
        flex-direction: column;
        text-align: center;
    }
}


/* booking-section page end */
